<div class="card mb-3">
  <div class="row no-gutters">
<div class="col-auto d-none d-lg-block">
      
		  <div class="center">
		       <script type="text/javascript">
		         	amzn_assoc_ad_type = "banner";
		  	amzn_assoc_marketplace = "amazon";
		  	amzn_assoc_region = "US";
		  	amzn_assoc_placement = "assoc_banner_placement_default";
		  	amzn_assoc_campaigns = "primemain";
		  	amzn_assoc_banner_type = "category";
		  	amzn_assoc_p = "48";
		  	amzn_assoc_isresponsive = "false";
		  	amzn_assoc_banner_id = "0ZPFACTPTMFJ1D5D3AG2";
		  	amzn_assoc_width = "728";
		  	amzn_assoc_height = "90";
		  	amzn_assoc_tracking_id = "lylegoffkitst-20";
		  	amzn_assoc_linkid = "7e4df83722fe2b54ebc43fb731cf2706";
		       </script>
		       <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
		      </div>
        
    </div>
    
    
    
  </div>
</div>


