
<div class="card mb-3 bg-light">
  <div class="card-header">
    <p style="margin-bottom:0px;">
    	Lyle's <span class="hardware">HARDWARE</span> Newsletter
    </p>
  </div>
  <div class="card-body">
    
    <p class="card-text small">
    	Subscribe to get the best content on the web, and great Amazon deals all picked just for you.
		<%= form_for(@subscriber) do |f| %>
		  <%= f.text_field :email %>
		  <%= f.submit %>
		<% end %>
	     

    </p>
  </div>
  <div class="card-footer">
  	<p class="small"  style="margin-bottom:0px;">No spam just new articles as they are published delivered directly to your inbox.</p>
  </div>
</div>
