
<div class="card mb-3 bg-light">
  <div class="card-header">
    <p style="margin-bottom:0px;">
    	Lyle's <span class="hardware">HARDWARE</span> Newsletter
    </p>
  </div>
  <div class="card-body">
    
    <p class="card-text small">
    	Subscribe to get the best content on the web, and great Amazon deals all picked just for you.
	    <div class="form-group">
	      
	       <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
	       <button type="submit" class="btn btn-primary btn-block" style="margin-top:10px;">Subscribe <i class="fas fa-arrow-circle-right"></i></button>
	     </div>
	     

    </p>
  </div>
  <div class="card-footer">
  	<p class="small"  style="margin-bottom:0px;">No spam just new articles as they are published delivered directly to your inbox.</p>
  </div>
</div>
