
<nav class="navbar navbar-expand-lg navbar-light border-bottom shadow-sm" style="background-color: #ecf0f1;">
  <div class="container-fluid">
  <%= link_to root_path , class:"hardware-brand" do %>
  Lyle's <span class="hardware">HARDWARE</span>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse float-right" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Reviews", root_path, class: "p-2 text-dark nav-link small" %>
      </li>
      <li class="nav-item">
        <%= link_to "Gallery", gallery_index_path, class: "p-2 text-dark nav-link small" %>
      </li>
      <li class="nav-item">
        <%= link_to "Deals", welcome_deals_path, class: "p-2 text-dark nav-link small" %>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-primary btn-sm small" href="#">Store <span class="badge badge-light">0</span></a>
      </li>
    </ul>
  </div>
</div>
</nav>


