
<nav class="navbar navbar-expand-lg fixed-top bg-light border-bottom flex-md-nowrap p-0 shadow-sm">
  <div class="container">
  <%= link_to root_path , class:"hardware-brand col-sm-3 col-md-2 mr-0" do %>
  Lyle's <span class="hardware">HARDWARE</span>
  <% end %>
  
  <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse float-right" id="navbarNav">
	  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <%= link_to "Reviews", root_path, class: "p-2 text-dark nav-link small" %>
      </li>
      <li class="nav-item text-nowrap">
        <%= link_to "Gallery", gallery_index_path, class: "p-2 text-dark nav-link small" %>
      </li>
      <li class="nav-item text-nowrap">
        <%= link_to "Deals", welcome_deals_path, class: "p-2 text-dark nav-link small" %>
      </li>
      <li class="nav-item text-nowrap">
        <a class="btn btn-outline-primary btn-sm small" href="#">Store <span class="badge badge-light">0</span></a>
      </li>
    </ul>
  </div>
</div>
</nav>


