
<div class="row">
	<div class="col"></div>
	<div class="col-auto">
		<div class="card" style="margin-top:10px;">
		  <div class="card-body">
			<div class="fb-share-button"
			    data-href="<%= request.original_url %>" 
			    data-layout="button_count">
			  </div>
			<div>
		
				<a href="https://twitter.com/intent/tweet?screen_name=carlyle_goff&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		  </div>
		</div>

		
	</div>
	<div class="col"></div>
</div>
		
	


  
  