
  
  <div class="card mb-3">
    <div class="card-header small text-muted">Address</div>
    <div class="card-body">
	
			<address>
			    <strong>Twitter, Inc.</strong><br>
			    1355 Market St, Suite 900<br>
			    San Francisco, CA 94103<br>
			    
			  </address>
    </div>
    <div class="card-footer">
  	  <small class="text-muted small">
  				<abbr title="Phone">P:</abbr> (123) 456-7890
  			</small>
  		</div>
  </div>