<% @articles.each do |article| %>

<div class="card mb-3">
  <div class="row no-gutters">
	  <% if article.thumbnail_url != '' %>
	  <div class="col-md-4 d-none d-lg-block">
      	<img src="<%= article.thumbnail_url %>" class="img-fluid"/>
      </div>
	<% end %>
    <div class="col-md-8">
      <div class="card-body">
<p class="card-text small text-success">Article</p>
        <h5 class="card-title"><%= link_to article.title, article %></h5>
        <p class="card-text"><%= article.text.truncate_words(10) %></p>
        <p class="card-text">
			<small class="text-muted">
				Last updated <%= article.updated_at.strftime('%b %e, %Y')%>
			</small>
		</p>
      </div>
    </div>
    
    
  </div>
</div>

<% end %>