<div class="card-columns">
<% @articles.each do |article| %>

<div class="card mb-3">
  <div class="card-header small text-success">Article</div>
  <div class="card-body">
	
      	<img src="<%= article.thumbnail_url %>" class="img-fluid" />
     
    <h5 class="card-title"><%= link_to article.title, article %></h5>
    <p class="card-text"><%= article.text.truncate_words(10) %></p>
  </div>
  <div class="card-footer">
	  <small class="text-muted">
				Last updated <%= article.updated_at.strftime('%b %e, %Y')%>
			</small>
		</div>
</div>


<% end %>
</div>